<!DOCTYPE html>
<html>
<head>
  <title>GifGenerator</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- logic here: if the user is the current user, show the link to log out -->
<!-- logic here: if the user is not the current user, show the link to log in -->

<%= yield %>

</body>
</html>
